body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    align-items: center;
}
#game-over-screen {
    position: absolute;
    top: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#game-over-screen p {
    color: red;
}
button {
    width: 50%;
}
p {
    margin: 1em auto;
    color: #161616;
    font-size: xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: bold;
}

#canvas {
    margin: 1em;
    width: 100vw;
    height: 100vw;
    max-width: 640px;
    max-height: 640px;
}
@media (max-height: 640px) {
    p { margin: auto; }
    #canvas {
        margin: auto;
        max-height: 320px;
        max-width: 320px;
    }
}